<div class="footer">
  <div class="footer-links">
    <%# <a href="x" ><i class="fab fa-github"></i></a> %>
    <%# <a href="#"><i class="fab fa-instagram"></i></a> %>
    <%# <a href="#"><i class="fab fa-facebook"></i></a> %>
    <a href="https://twitter.com/alexis_dty"><i class="fab fa-twitter"></i></a>
    <%# <a href="#"><i class="fab fa-linkedin"></i></a> %>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Alexis
    <%#= link_to "Gares les plus fréquentées", top_frequentation_path %>
  </div>
</div>
