<div class="container">
  <%= link_to "Accéder à toutes les gares", stations_path, class: "btn btn-primary" %>
  <%= link_to "Accéder à toutes mes visites", visites_path, class: "btn btn-primary" %>
  <%= link_to "Enregistrer une nouvelle gare", new_station_path, class: "btn btn-primary" %>
</div>
