.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown {
  margin: auto;
}

.nav-link {
  color: $train-blue;
}

.dropdown-item {
  color: $train-blue;
  font-size: 1rem;
}
